<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>{{.Title}}</title>
  <meta name="description" content="kunsul">
  <meta name="author" content="Chris Fordham">
</head>

<body>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

  <h1 class="ui center aligned icon header">
    <i class="circular cloud icon"></i>
    Kunsul
  </h1>

  <div class="ui container">
    <h2>Ingresses</h2>


    <table class="ui celled table">
      <thead>
        <tr>
          <th class="four wide">Namespace</th>
          <th class="four wide">Name</th>
          <th class="eight wide">Hosts</th>
        </tr>
      </thead>

      {{range .Ingresses}}
      {{/*<textarea cols="100" rows="30">*/}}
      {{/*{{. | toPrettyJson}}*/}}
      {{/*{{ .Spec | toPrettyJson}}*/}}
      {{/*</textarea>*/}}
      <tr>
        <td>{{.Namespace}}</td>
        <td>{{.Name}}</td>
        <td>
          {{ $protocol := .Spec.TLS | empty | ternary "http" "https" }}
          {{ range $index, $rule := .Spec.Rules }}
          <li>
            <a href="{{$protocol}}://{{ $rule.Host }}" target="_blank">
              {{$protocol}}://{{ $rule.Host }}
            </a>
          </li>
          {{ end }}

          {{ if eq (len .Spec.Rules) 0 }}
          <div class="ui warning message">
            <div class="header">No rules found!</div>
            <span class="caption">Warning, this will match all traffic!</span>
          </div>
          {{ end }}

        </td>
      </tr>
      {{end}}
    </table>
    <div class="ui divider"></div>

    <h2>Services</h2>

    <div>
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Namespace</th>
            <th>Name</th>
            <th>Load Balancer</th>
            <th>Cluster IP</th>
            <!--<th>Public Endpoints</th><th>ExternalIPs</th><th>Annotations</th><th>Ports</th><th>Status</th>-->
          </tr>
        </thead>
        {{range .Services}}
        <!--
        <tr>
          <td>
            <textarea cols="100" rows="30">
              {{. | toPrettyJson}}
              {{ .Spec | toPrettyJson}}
            </textarea>
          </td>
        </tr>
        -->
        <tr>
          <td>{{.Namespace}}
          <td>{{.Name}}</td>
          <td>

            {{ range .Status.LoadBalancer.Ingress }}
            <a href="http://{{.IP}}">{{ .IP }}</a>
            {{end}}

          </td>
          <td>{{.Spec.ClusterIP}}</td>
          <!--<td>{{.Spec.ExternalIPs}}</td><td>{{index .Annotations "field.cattle.io/publicEndpoints"}}</td><td>{{.Spec.Ports}}</td><td>{{index .Status}}</td>-->
        </tr>
        {{end}}
        </ul>
    </div>

    <div class="clear-float"></div>
  </div>

  <div class="page-footer">

  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>

</html>
